<!doctype html>
<html>
  <header>
    <title>meadowlark travel</title>
  </header>
  <body>
    <header>
      <img src="/img/logo.png" alt="meadowlark tarvel logo">
    </header>
    {{{body}}}
  </body>
</html>